[user]
	email = melty.antarcticite@gmail.com
	name = c01o
[credential]
	helper = cache --timeout=864000
[push]
	default = simple
[core]
	excludefile = ~/.gitignore
[help]
	autocorrect = 1

#Invoke as `ghq import starred motemen`
[ghq "import"]
starred = github-list-starred
